<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Villes</th>
      <th scope="col">Latitude</th>
      <th scope="col">Longitude</th>
      <th scope="col">Ajouter</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    @for (town of towns; track town) {
      <tr>

        <th scope="row">
          {{ town.id }}<input type="text" name="id" hidden />
        </th>
        <td>
          {{ town.ville }}<input type="text" name="ville" hidden />
        </td>
        <td>
          {{ town.lat
          }}<input type="text" name="latitude" hidden />
        </td>
        <td>
          {{ town.lng
          }}<input type="text" name="longitude" hidden />
        </td>
        <td>
          <button class="btn btn-warning" type="submit" value="Modifier" (click)="logTown(town)">
            Modifier
          </button>
        </td>
        <td>
          <button class="btn btn-danger" type="submit" value="Supprimer">
            Supprimer
          </button>
        </td>    
      </tr>

    }
  </tbody>
</table>