<nav class="navbar navbar-expand-lg bg-body-tertiary"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" href="">Bees</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="">Accueil</a>
        <a class="nav-link" routerLink="/map">Carte</a>
        <a class="nav-link" routerLink="/crud">Villes</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
